.title {
    margin-top: 1%;
    display: inline-block;
    margin-left: 35%;
    margin-right: 50%;
    width: 30%;
    padding: 5px 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: border;
}

.form {
    background-image: linear-gradient(#FFF, #E296B2);
    margin-top: 5%;
    margin-left: 60%;
    margin-right: 50%;
    width: 110%;
    border: #FFF;
}

.label {
    font-size: 20px;
    text-align: center;
}

.p {
    text-align: center;
}

.link {
    color: #C62E65;
}