.info {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    transition:0.5s;
    cursor:pointer;
    margin-left: 330px;
}

.info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}